  
  .List-header {
    text-align: center;
    background-color: #1abc9c;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .link {
    color: white;
    text-decoration:none

  }

  .link:hover {

  }
  
  .List-title {
    font-size: 1.5em;
    text-align: center;

  }

  .list-new {
    padding: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  .List-list {
    max-width: 450px;
    margin: 30px auto;
  }

  .List-list > form > div {
    display: block;
  }
  
  .List-list input {
    padding: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 5px;
  }
  .List-list input:nth-child(2) {
    flex-grow: 1;
  }
  
  .List-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    max-width: 700px;
  }
  
  .List-item img {
    width: 100px;
  }
  
  .List-item div {
    vertical-align: top;
    display: inline-block;
    padding: 5px 20px;
    box-sizing: border-box;
    width: 330px;
  }
  
  .List-item .IoIosCloseCircleOutline {
    vertical-align: top;
    margin-top: 40px;
    display: inline-block;
    color: #666;
  }
  .List-item .IoIosCloseCircleOutline:hover {
    color: #e55;
  }
  
  @keyframes PlayaList-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }